<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1><% @checkins.each do |checkin| %>
      <span id="feel-<%= checkin[0] %>" class="checkin-count hidden"><%= checkin[1] %></span>
    <% end %></h1>
  <h2><%= @locations[0].name %></h2>
  <div class="field">
    <%= f.select :feel_id, Feel.all.collect{|p| [p.name, p.id] } , {prompt: "-- Select a Feel --"}, {class: 'form-control'} %>
    <%= f.hidden_field :location_id, :value=>@locations[0].id %>
  </div>

  <div class="field">
    <%= f.check_box :vote %> Was this location helpful?
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
