<%= form_for(@checkin) do |f| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@checkin.errors.count, "error") %> prohibited this checkin from being saved:</h2>

      <ul>
      <% @checkin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <span class="h1">
      <% @checkins.each do |checkin| %>
        <span id="feel-<%= checkin[0] %>" class="checkin-count hidden"><%= checkin[1] %></span>
      <% end %>
    </span>
    <span class="h2">
      people felt
    </span>
    <div class="field">
      <%= f.select :feel_id, Feel.all.collect{|p| [p.name, p.id] } , {prompt: "-- Select a Feel --"}, {class: 'form-control'} %>
    </div>
    <span class="h2">at </span>
    <span class="h4"><%= @locations[0].name %></span>


  <div class="field">
    <%= f.hidden_field :location_id, :value=>@locations[0].id %>
  </div>

  <div class="field">
    <%= f.check_box :vote %> Was this location helpful?
  </div>

  <div class="actions">
    <%= f.submit "Checkin", :class=>"btn btn-primary btn-lg btn-block" %>
  </div>
<% end %>
